body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.menu{
    margin-top: -10%;
}
.about-me{
    width: 100%;
    display: flex;
    margin-top: 10%;
}
.left{
    background: rgb(240, 240, 234);
    width: 34%;
    border-radius: 30PX;
    height: 85vh;
    margin-top: 10%;
    margin-left: 6%;
}
.black1{
    color: black;
}
.black{
    color: black;
    margin-top: -5%;
    margin-left: 20%;
}
.a-miii{
    width: 60%;
    height: 30vh;
    margin-left: 20%;
    margin-top: 5%;
}
.vii{
    margin-left: 25%;
    color: blue;
    margin-top: 2%;
}
.b-name,p{
    margin-left: 7%;
    margin-top: -2%;
}

.bb-name{
    margin-left: 30%;
    margin-top: -2%;
}
.f{
    width: 11%;
}
.l{
    width: 11%;
    margin-left: 2%;
}
.t{
    width: 19%;
}
.birthday,.add,.emii{
    width: 9%;
    height: 5vh;
    margin-left:10% ;
    margin-bottom: -2%;
}
.phonee{
    width: 7%;
    height: 3vh;
    margin-left:10% ;
    margin-bottom: -2%;
}
.right{
    width: 75%;
    margin-top: -3%;
}
/* <button class="rest">
                    <b class="re">RESUME</b>
                </button> */
/* .rest{
    margin-left: ;
} */
.rest{
    margin-left: 35%;
    background: rgb(187, 184, 184);
    width: 25%;
    height: 5vh;
    outline: none;
}
.above-profile{
    display: flex;
    margin-left: 30%;
    margin-top: 3%;
}
.about-nh{
    width: 8%;
    height: 7vh;
}
.ibm{
    margin-top: 1%;
    margin-left: 1%;
}
.para{
    width: 90%;
    
    margin: auto;
    margin-top:3%;
    height: 40vh;
    margin-top: 5%;
}
.sub-para{
    width: 90%;
    margin-left: 2%;
    color: black;
}
.mainbox{
    display: flex;
   margin-left: 10%;
}
.box1{
    background: rgb(194, 193, 193);
    width: 80%;
    height: 30vh;
    border-radius: 30px;
}
.design{
    width: 30%;
    height: 10vh;
    margin-left: 30%;
    margin-top: 4%;
}
.webb{
    margin-left: 30%;
    margin-top: 1%;
}
.loo{
    margin-left: 5%;
    margin-top: -2%; 
    color: black;
}
.secondline{
    margin-top: 30%;
}
.box2{
    background: rgb(194, 193, 193);
    width: 80%;
    height: 30vh;
    margin-top: 10%;
    border-radius: 30px;
}
.t-info1,.t-info2,.t-info3{
    font-size: 14px; 
 }
 .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(14, 1, 46);
    margin-left: 0px;
    position: fixed;
    width: 100%;
}

.menu li:hover{
    background: rgb(75, 2, 59);
    border-radius: 50px;
    
}
ul {
    display: flex;
    list-style: none;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* footer */
.footer{
    color: #fff;
    width: 100%;
    margin: 100px 0 0 0;
    height: 30vh;
    background:  rgb(14, 1, 46);
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
    
}
.footer a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;}
.contact-me{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor{
    margin: 10px 0px;
    width: 100%;
    display: grid;
    
}
.phone{
    width: 100%;
}
.phone,
.location,
.email{

    display: flex;
    margin: 10px 0px;

    
}
.phone p,
.location p,
.email p{
    text-align: right;
    margin: 10px 0px;
}
@media(max-width:1024px){
    .menu{
        height: 14vh;
    }
    .menu a{
        font-size: 12px;
    }
    
    .footer{height: 33vh;}
    .phone p{
    text-align: left;
    margin: 10px 0px;
    }
    .about-me{
        display: inline-block;
        justify-content: center;
        align-content: center;
    }
    .left{
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 50%;
        margin-left: 25%;
    }
    .right{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .menu{
        margin: 0;
    }
}
@media(max-width:768px){
    .footer{height: 40vh;grid-column-gap: 90px;}
    .left{
        margin-top: 8%;
        width: 60%;
        margin-left: 20%;
    }
    .box1,
    .box2{height:40vh ;}
    .above-profile{margin-top: 50px;}
}
@media(max-width:500px){
    .footer{ height: 10vh;grid-column-gap: 40px;}
    .left{
        
        width: 60%;
        margin-left: 20%;
    }
    .box1,
    .box2{height:40vh ;}
    .above-profile{margin-top: 50px;}
}
