body{
    margin: 0;
    padding: 0;
    background: pink;
    
}
.contactme{
    width: 90%;
    margin:  auto;

}
.small-bg{
    display: flex;
    
}
.form{
    background:lightblue;
    width: 45%;
}
form{
    margin: auto;
}
.map{
    width: 45%;
    height: 400px;
    margin-left: 45px;
    margin-top: 50px;
   
}
.map:nth-child(2){
    box-shadow: 10px 5px 10px rgb(168, 163, 163);
}
.name{
    display: flex;
}