body{
    margin: 0;
    padding: 0;
    background: rgb(209, 206, 206);
}
.menu{
    margin-top: -10%;
}
.resume{
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top:30%;
}

.title{
    display: flex;
    margin-left: 35%;
    padding: 10px;
    margin-top: -25%;
}
.resumelogo{
    width: 10%;
    height: 10vh;
}
.title h1{
    font-family: 'Dancing Script', cursive;
}
.ma-cv{
    /* margin-left: 5%; */
    
    width: 80%;
    margin:auto;
}
.experience{
    display: flex;
    margin-right: 10%;
    
}
.experience h4{
    margin-top: 5%;
    margin-left: -1%;
    font-size: 20px;
}
.worklogo{
    margin-top: 4%;
    width: 8%;
    height: 5vh;
}
.educationlogo{
    margin-top: 2%;
    width: 10%;
    height: 10vh;
}

.main-text{
    margin-left: 3%;
    
}

h5{
    color: blue;
    font-size: 15px;
    margin-top: 2%;
}
.text-ex1{
    display: flex;
}
.one{
    width: 70%;
    margin-left: 11%;
}
.two{
    width: 70%;
    margin-left: 13%;
}
.three{
    width: 70%;
    margin-left: 13%;
}
.ones{
    width: 70%;
    margin-left: 13%;
}





