body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu{
    margin-top: -10%;
}
.resume{
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top:30%;
}
.one,.two,.three,.ones{
    color: rgb(11, 9, 46);
}
.title{
    display: flex;
    margin-left: 35%;
    padding: 10px;
    margin-top: -25%;
}
.resumelogo{
    width: 10%;
    height: 10vh;
    margin-top: -4%;
}
.title h1{
    font-family: 'Dancing Script', cursive;
    margin-top: -3%;
    margin-left: 2%;
}
.ma-cv{
    /* margin-left: 5%; */
    background: rgb(209, 206, 206);
    width: 80%;
    margin:auto;
}
.experience{
    display: flex;
    margin-right: 10%;
    
}
.experience h4{
    margin-top: 5%;
    margin-left: -1%;
    font-size: 20px;
}
.worklogo{
    margin-top: 4%;
    width: 8%;
    height: 5vh;
}
.educationlogo{
    margin-top: 2%;
    width: 10%;
    height: 10vh;
}
.languagelogo{
    width: 6%;
    height: 7vh;
    margin-left: 2%;
    margin-top: 2%;
}
.experience .lang{
    margin-left: 1%;
    margin-top: 4%;
}
.main-text{
    margin-left: 3%;
    
}

h5{
    color: blue;
    font-size: 15px;
    margin-top: 2%;
}
.text-ex1{
    display: flex;
}
.one{
    width: 70%;
    margin-left: 11%;
}
.two{
    width: 70%;
    margin-left: 13%;
}
.three{
    width: 70%;
    margin-left: 13%;
}
.ones{
    width: 70%;
    margin-left: 13%;
}

.logo-lang{

}
.kl{
    display: flex;
}
.kh{
    width: 7%;
    height: 5vh;
    margin-left: 7%;
    margin-top: 1%;
}
h6{
    margin-top: 2%;
    font-size: 15px;
}
.eng{
    width: 4%;
    height: 6vh;
    margin-left: 9%;
    margin-top: -1%;
}
.korean{
    width: 6%;
    height: 5vh;
    margin-left: 8%;
    margin-top: -1%;
}
.e{
    margin-top: 0%;
    margin-left: 1% ;
}
.ko{
    margin-top: 0%;
    margin-left: 0% ;
}
.reading{
    width: 15%;
    height: 9vh;
    margin-left: 4%;
    
}
.read{
    margin-left: -4%;
    margin-top:2.5%;
}
.code{
    width: 5%;
    height: 7vh;
    margin-left: 9%;
    margin-top: -2%;
}
.music{
    width: 7%;
    height: 7vh;
    margin-left: 8%;
    margin-top: -2%;
}
.run{
    width: 7%;
    height: 7vh;
    margin-left: 8%;
    margin-top: -2%;
}
.lis{
    margin-top: 0.5%;
}
.runs{
    margin-top: -1%;
}
.co{
    margin-top: -0.5%;
    margin-left: 5px;
}
.footer{
    color: #fff;
    width: 100%;
    margin-top: 60%;
    height: 25vh;
    background:  rgb(14, 1, 46);
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
}
.footer a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;}
.contact-me{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: inline-block;
}
.phone,
.location,
.email{display: flex;}
.t-info1,.t-info2,.t-info3{
   font-size: 14px; 
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(14, 1, 46);
    margin-left: 0px;
    position: fixed;
    width: 100%;
}
/* .right{
    margin-left: 50px;
}

.left{
    margin-right: 90px; */
}
.menu li:hover{
    background: rgb(75, 2, 59);
    border-radius: 50px;
    
}
ul {
    display: flex;
    list-style: none;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


@media(max-width:1024px){
    .menu {
        height: 8vh;
        font-size: 5px;
    }

    .footer{
        margin-top: 95%;
        height: 28vh;
    }
    
}
@media(max-width:768px){
    .footer{
        margin-top: 140%;
        height: 28vh;
    }
}





