body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h3{
    
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(14, 1, 46);
    margin:auto;
    position: fixed;
    width: 100%;
}
/* .vich{
    width: 100%;
    height: 20vh;
} */
.lift{
    margin-right: 10px;
}
.menu li:hover{
    background: rgb(75, 2, 59);
    border-radius: 50px;
    
}
ul {
    display: flex;
    list-style: none;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
}
.backgroud img{
    background-size: cover;
    background-position: center ;
    height: 70vh;
    width: 100%;
    margin-top:-10px;
}
.home{
    display: flex;
    margin:auto;
    width: 65%;
    height: 55vh;
    background-position: 50% ;
    margin-top: -220px;
    border-radius: 50px;
}
.text b,p{
    color: white;
}
.me{
    margin-left: 25%;
    color: white;
}
.mi1{
    margin-top: 0.3%;
    margin-left: 16%;
}
.mi2{
    margin-top: 0.3%;
    margin-left: 10%;
}
.mi3{
    margin-top: 0.3%;
    margin-left: 14%;
}
.mi4{
    margin-top: 0.3%;
    margin-left: 13%;
}
.mi5{
    margin-top: 0.3%;
    margin-left: 11%;
}
.pic{
    background: rgb(207, 206, 206);
    width: 50%; 
}

.age{
    display: flex;
    margin-left: 20px;
}
.text{
    background: rgb(4, 54, 95,0.8);
    width: 50%;
    
}
.text h1{
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    color:white;
}
.text p{

}
h2{
    display: flex;
    justify-content: center;
}

/* footer */

footer{
    background: rgb(97, 32, 62);
    margin-top: 5%;
}
.foot{
    display: flex;
}
.contact-me{
    margin-top: 2%;
}
.in-twin-ins{
    margin-top: 10%;
}


.email,.facebook,.YouTube,.link,.skype{
    width: 6%;
    height: 5vh;
    margin-left:10% ;
    margin-top: 4%;
}

.e-f-y{
    margin-top: -2%;
}
.twinn{
    width: 10%;
    height: 5vh;
    margin-left:10% ;
    margin-top: 4%;
}
.facebook,.YouTube{
    margin-left: 0%;
}
.in-twin-ins{
    margin-top: -4%;
}
.link{
    margin-left: 0%;
}
.twinn{
    margin-left: -2%;
}
.email,.facebook,.YouTube{
    cursor: pointer;
}
.link,.skype,.twinn{
    cursor: pointer;
}




/* .... */
.infor{
    width: 60%;
    
}

.t-info1,.t-info2,.t-info3{
    margin-top: -5%;
    margin-left: 18%;
}


.add{
    width: 6%;
    height: 5vh;
    margin-left:10% ;
    margin-top: 4%;
}
.phone,.emii{
    width: 6%;
    height: 5vh;
    margin-left:10% ;
    margin-top: 1%;
}
.t-info{ 
    margin-left: 12%;
}


