body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(108, 107, 109);
}

h3{
    
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(14, 1, 46);
    margin-left: 0px;
    position: fixed;
    width: 100%;
}
.right{
    margin-left: 50px;
}
/* .vich{
    width: 100%;
    height: 20vh;
} */
.left{
    margin-right: 90px;
}
.menu li:hover{
    background: rgb(75, 2, 59);
    border-radius: 50px;
    
}
ul {
    display: flex;
    list-style: none;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.backgroud img{
    background-size: cover;
    background-position: center ;
    height: 70vh;
    width: 100%;
    margin-top:-10px;
}
.text{
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(4, 54, 95,0.8);
    color: #fff;
    width: 70%;
    margin: auto;
    height: 60vh;
    margin-top: 80px;
}

.pic {
    width: 250px;
    background-size: cover;
    background-position: center;
}
.pic img{
    width: 310px;
    height: 60vh;
}
.text-data{
    margin:20px 0 0 20px;
    padding: 20px;
}
.text-data h1,
.me {padding: 10px;}
.text-data h1,
.text-data p,
.text-data b{margin: 0;padding: 8px;}
.age{display: flex;}
.age b{margin-right: 20px;}
/* footer */
.footer{
    color: #fff;
    width: 100%;
    margin: 100px 0 0 0;
    height: 25vh;
    background:  rgb(14, 1, 46);
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
}
.footer a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;}
.contact-me{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: inline-block;
}
.phone,
.location,
.email{display: flex;}


@media(max-width:1024px){
    .menu{
        height: 8vh;
    }
    .menu a{
        font-size: 12px;
    }
    .text{
        width: 80%;
        margin:auto;
        height: 60vh;
        margin-top: 50px;
    }
    .text-data{font-size: 15px;padding: 0;margin-left: 8%;}
    .footer{height: 30vh;}
}
@media(max-width:768px){
    .text{
        width: 80%;
        margin:auto;
        height: 50vh;
        margin-top: 50px;
    }
    .pic img{width: 250px;height: 50vh;}
    .text-data{font-size: 10px;}
    .footer{height: 30vh;grid-column-gap: 90px;}
}
/* .backgroud img{
    background-size: cover;
    background-position: center ;
    height: 70vh;
    width: 100%;
    margin-top:-10px;
} */
@media(max-width:425px){
    img{
        background-size: cover;
        background-position: center ;
        width: 200%;
        height: 50vh;
        }
}